<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634225843026-5jqu7a3jleek7fbk7ea1mpi1j5n7vi5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634225843026-5jqu7a3jleek7fbk7ea1mpi1j5n7vi5j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>634225843026-qkbs41lnb1eo81qlhba68q81lu39gvq6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJkn3emwHmJfcxr6cN3Jpk2PvvzzkGZJs</string>
	<key>GCM_SENDER_ID</key>
	<string>634225843026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capsuleApp</string>
	<key>PROJECT_ID</key>
	<string>capsule-gsc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>capsule-gsc-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634225843026:ios:48016045303d0903f1788b</string>
</dict>
</plist>